#ifndef _PHPGTK_MAIN_H_
#define _PHPGTK_MAIN_H_

	#include <phpcpp.h>
	#include <iostream>
	#include <gtk/gtk.h>
	#include <gtksourceview/gtksource.h>

	// PHP-GTK
	#include "helper.h"

	// G
	#include "src/G/GObject.h"
	#include "src/Gdk/GdkEvent.h"

	%(code_main_includes)s

#endif